/* ///////////////////////////////////// */
/* below 1300px (small deskstop) */
/* ///////////////////////////////////// */

@media (max-width: 84em) {
  /* .section {
    max-width: 120rem;
    /* max-height: 2.5rem; */
  */ .logo {
    max-width: 2.4rem;
  }

  /* body {
    max-width: 71rem;
  } */

  .list {
    font-size: 1.6rem;
  }

  /* .section-resume {
    width: 100%;
  } */
  /* .contact {
  
  } */

  .about-primary {
    font: size 1.5rem;
    line-height: 1;
    margin-left: 2rem;
  }

  .btn-skill {
    width: 31rem;
    font-size: 2rem;
  }

  .resume-about {
    margin-top: 10rem;
    margin-left: 4.6rem;
  }
  .vital info {
    font-size: 1.6rem;
  }
}

/* ///////////////////////////////////// */
/* below 1300px (L==andscape Tablet) */
/* ///////////////////////////////////// */

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
  .secondary-feature {
    font-size: 2rem;
    padding-bottom: 2.4rem;
    line-height: 1.1;
    /* margin-right: 1rem; */
    margin-left: 1rem;
  }

  .information {
    height: 74%;
  }
}

/* @media (max-width: 71em) {
  .personal-info span {
    font-size: 2rem;
  }
} */

@media (max-width: 73em) {
  .fearture {
    display: block;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 66em) {
  .main-nav {
    padding: 0;
  }
}

@media (max-width: 64em) {
  .main-nav {
    /* 1) Hide it visually  */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it fron screen reader */
    visibility: hidden;
  }

  /* .section {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
  } */

  @media (max-width: 59em) {
    .btn-skill {
      width: 31rem;
      display: block;
      top: 150rem;
      left: 20rem;
      background-color: no repeat;
      position: sticky;
      margin-top: 4rem;
      /* margin-right: 100%; */

      /* margin-bottom: none; */
      /* display: none; */
    }

    .footer-link {
      margin-left: 1rem;
    }

    .personal-pic {
      height: 33rem;
    }

    .content-primary {
      margin-left: 0;
    }

    .about-tent {
      margin-left: 2rem;
    }

    .dev {
      margin-left: 2rem;
    }

    .company-resume {
      margin-left: 2rem;
    }

    .dt {
      margin-left: 2rem;
    }

    .achievement {
      margin-left: 2rem;
    }

    .edu-resume1 {
      opacity: 0;
    }

    /* .gen-l {
      margin: 0;
    } */

    /* .contact {
      margin-right: 16rem;
    } */

    .primary-feature {
      display: none;
    }

    .name {
      text-align: center;
    }

    .resume-about {
      margin-top: 4rem;
    }

    .information {
      height: 74%;
    }

    html,
    body {
      overflow-x: hidden;
    }

    .description {
      margin-top: 2.4rem;
      margin-left: 1rem;
    }

    .resume-dialog {
      height: 183vh;
    }
  }

  @media (max-width: 56em) {
    .header {
      position: sticky;
    }
  }

  @media (max-width: 60em) {
    .cards {
      display: grid;
      justify-content: center;
      align-items: center;
    }

    span-- {
      font-size: 2rem;
      font-weight: 400;
    }

    .section-skill {
      width: 100%;
    }

    .cards {
      display: block;
    }
  }

  .logo {
    display: block;
    position: relative;
    top: 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 5.4rem;
  }
}

@media (max-width: 54em) {
  .feature {
    display: block;
    width: 100%;
    height: 100%;
    /* margin-right: 0; */
  }

  .resume-feature {
    display: block;
  }
  .cards {
    position: sticky;
    justify-content: center;
    align-items: center;
  }

  .resume-pic {
    display: flex;
    margin-top: 0.3rem;
    height: 12rem;
    width: 28%;
    margin-left: 37%;
    /* margin-left: 62%; */
  }

  /* .resume-name {
    position: relative;
    right: -24rem;
  } */

  /* .text-area {
    position: absolute;
    top: 246rem;
  } */
}

@media (max-width: 51em) {
  .card {
    position: sticky;
  }

  .btn-mobile-nav {
    display: block;
  }
}

@media (max-width: 40em) {
  .contact {
    position: sticky;
  }
}

@media screen and (max-width: 25em) {
  .resume-dialog {
    height: 183vh;
  }
}

/* .feature {
  display: grid;
  grid-template-columns: 1fr
} */
