/* ///////////////////////////////////// */
/* below 1300px (small deskstop) */
/* ///////////////////////////////////// */

@media (max-width: 84em) {
  /* .section {
    max-width: 120rem;
    /* max-height: 2.5rem; */
  */ .logo {
    max-width: 2.4rem;
  }

  /* body {
    max-width: 71rem;
  } */

  .list {
    font-size: 1.6rem;
  }

  /* .section-resume {
    width: 100%;
  } */
  /* .contact {
  
  } */

  .about-primary {
    font: size 1.5rem;
    line-height: 1;
    margin-left: 4.8rem;
  }

  .btn-skill {
    width: 31rem;
    font-size: 2rem;
  }

  .resume-about {
    margin-top: 10rem;
    margin-left: 4.6rem;
  }
  .vital info {
    font-size: 1.6rem;
  }
}

/* ///////////////////////////////////// */
/* below 1300px (L==andscape Tablet) */
/* ///////////////////////////////////// */

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
  .secondary-feature {
    font-size: 2rem;
    padding-bottom: 2.4rem;
    line-height: 1.2;
  }
}

/* @media (max-width: 71em) {
  .personal-info span {
    font-size: 2rem;
  }
} */

@media (max-width: 66em) {
  .main-nav {
    padding: 0;
  }
}

@media (max-width: 64em) {
  .main-nav {
    display: none;
  }

  @media (max-width: 59em) {
    .btn-skill {
      width: 31rem;
      display: block;
      top: 150rem;
      left: 20rem;
      background-color: no repeat;
      position: sticky;
      margin-top: 4rem;

      /* margin-right: 10rem */
      /* margin-bottom: none; */
      /* display: none; */
    }

    .resume-about {
      margin-top: 0;
    }
  }

  @media (max-width: 60em) {
    .cards {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .information {
      height: 74%;
    }

    span-- {
      font-size: 1.5rem;
      font-weight: 400;
    }
  }

  .logo {
    display: block;
    position: relative;
    top: -1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 20em) {
  .fearture {
    display: grid;
    grid-template-columns: 1fr;
  }

  .cards {
    position: sticky;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 51em) {
  .card {
    position: sticky;
  }
}

/* @media screen and (min-width: 1200px) {
  .menu {
    width: 30%;
  }
} */
